.topImg{
    border-radius: 5px
}
.popup-content{
  width: 500px !important;
}
.table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
}
  
.th {
  /* border: 1px solid #dddddd; */
  text-align: left;
  padding: 8px;
  font-weight: bold
}
  
.footerBack{
  background-color: #171f4b
}

.line{
    background: black;
    height: 10px;
    width: 100%;
}
  